report:
  settings:
    page:
      size: Letter
      orientation: L
      margins: 10
    style:
      font_family: 'Helvetica'
      font_size: 10
      font_color: [0, 0, 0]
  header:
    1:
      text:
        field: company_name
        margin: 30
        align: left
        style:
          font_size: 11
          font_weight: B
    2:
      text:
        field: company_rif
        margin: 30
        align: left
        style:
          font_size: 10
    3:
      image:
        filename: default-report-logo.png
        width: 20
        height: 20
        x: 20
        y: 12
    4:
      text:
        field: company_address
        margin: 30
        align: left
        style:
          font_size: 10
    5:
      breakline:
    6:
      pagenum:
        pattern: "Pag. <PAGE>"
        align: right
  body:
    1:
      text:
        label: "Desde: "
        align: right
        width: 240
        breakline: 0
        style:
          font_weight: B
    2:
      text:
        field: since
        align: left
        width: 50
    3:
      text:
        label: "Hasta: "
        align: right
        width: 240
        breakline: 0
        style:
          font_weight: B
    4:
      text:
        field: until
        align: left
        width: 50
    5:
      breakline:
    6:
      text:
        field: title
        align: center
        style:
          font_size: 12
          font_weight: B
    7:
      table:
        field: results
        heading:
          align: left
          style:
            font_weight: B
            bg_color: [220, 220, 220]
        totalization:
          precision: 2
          label: Totales
          align: center
          border: T
          style:
            font_weight: B
        columns:
          1:
           order:
              label: Orden
              align: left
              width: 15
          2:
            date:
              label: Fecha
              align: left
              width: 18
          3:
            recipe_name:
              label: Receta
              align: left
              width: 53
          4:
            recipe_version:
              label: Version
              align: center
              width: 12
          5:
            client_name:
              label: Cliente
              align: left
              width: 50
          6:
            real_batches:
              label: Baches
              align: right
              width: 10
              totalize: true
          7:
            theoric_total:
              label: Prod. Teorica (Kg)
              align: right
              width: 25
              totalize: true
              precision: 2
          8:
            real_total:
              label: Prod. Real (Kg)
              align: right
              width: 28
              totalize: true
              precision: 2
          9:
            loss:
              label: Merma Kg
              align: right
              width: 20
              totalize: true
              precision: 2
          10:
            loss_perc:
              label: Merma (%)
              align: right
              unit: '%'
              width: 20
              perc_totalize: true
              perc_num: 'loss'
              perc_dem: 'theoric_total'
              precision: 2
    8:
      breakline:
  footer:
    1:
      text:
        field: footer
        align: center
        style:
          font_size: 8
          font_color: [80, 80, 80]
