<%= render_error_messages(f.error_messages) %>
<label for="code" class="small">Código:</label>
<div class="field"><%= f.text_field :code, :size=>'10' %> <span>*</span></div>
<label for="name" class="small">Nombre:</label>
<div class="field"><%= f.text_field :name, :size=>'20' %> <span>*</span></div>
<label for="code" class="small">Existencia mínima (Kg):</label>
<div class="field"><%= f.text_field :minimum_stock, :size=>'15' %><span>*</span></div>
<div class="clearfix"></div>
<br/><span class="required">* Campos obligatorios</span>
