<%= render_error_messages(f.error_messages) %>
<label for="ci" class="small">Nivel mínimo en tolvas (%):</label>
<div class="field"><%= f.text_field :hopper_minimum_level, :size=>'20' %><span>*</span></div>
<div class="clearfix"></div>
<br/><span class="required">* Campos obligatorios</span>
