<% title "Llenar tolva" %>
<%= form_for :fill, :url=>fill_scale_hopper_path(@hopper.scale_id, @hopper.id), :html=>{:id=>'hopper_fill_form'} do |f| %>
  <label for="code" class="small">Capacidad:</label>
  <div class="field"><%=h @hopper.capacity_in_kg %></div>
  <label for="code" class="small">Actual:</label>
  <div class="field"><%=h @current_hopper_lot.stock %></div>
  <label for="number" class="small">Cantidad:</label>
  <div class="field"><%= f.text_field :amount, :size=>'10' %><span>*</span></div>
  <div class="clearfix"></div>
  <br/><span class="required">* Campos obligatorios</span>
<% end %>
