<%= form_tag adjust_lot_path, :method => 'put', :id=>'lot_adjust_form' do %>
  <label for="code" class="small">Lote:</label>
  <div class="field"><%=h @lot.to_collection_select %></div>
  <label for="stock" class="small">Existencia:</label>
  <div class="field"><%=h @lot.stock %></div>
  <label for="amount" class="small">Nueva existencia:</label>
  <div class="field"><%= text_field_tag :amount, params[:amount], :size=>'15' %> <span>*</span></div>
  <div class="clearfix"></div>
<% end %>
