#content {
    padding: 20px;
    width: 860px;
    background: #f0f0f0;
    border: solid 1px #cfcfcf;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-top: 5px;
}

#dashboard-content h3 {
    background-color: #aaa;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}
.module {
    position: relative;
    margin-bottom: 20px;
}
.module img {
    z-index: -1;
    display: block;
    float: left;
    padding-right: 10px;
}

.module-content {
    float: left;
    width: 250px;
    margin-left: 10px;
}

.module-content h2 {
    font-size: 17px;
    border-bottom: solid 1px #999;
    margin-bottom: 8px;
}

.module-content p {
    font-size: 14px;
    color: #666;
}

.palert {
    font-size: 14px !important;
    font-weight: bold !important;
    color: #FF3333 !important;
}

.module-content h2 a {
    text-decoration: none;
}

.notify {
  position: absolute;
  top: -5px;
  left: 50px;
  z-index: 1;
  display: block;
  background: url('notification-bubble.png') no-repeat;
  padding-top: 1px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: white;
  width: 20px;
  height: 20px;
}

a:hover {
  text-decoration: none;
}
