<% title "Ajustar almacen" %>
<%= form_for :adjust, :url=>adjust_warehouse_type_warehouse_path(@warehouse.warehouse_type_id, @warehouse.id), :html=>{:id=>'warehouse_adjust_form'} do |f| %>
  <label for="code" class="small">Capacidad:</label>
  <div class="field"><%=h @warehouse.size %></div>
  <label for="code" class="small">Existencia actual:</label>
  <div class="field"><%=h @warehouse.stock %></div>
  <label for="new_stock" class="small">Nueva existencia:</label>
  <div class="field"><%= f.text_field :new_stock, :size=>'10' %><span>*</span></div>
  <div class="clearfix"></div>
  <br/><span class="required">* Campos obligatorios</span>
<% end %>
