<% title "Cambiar almacen" %>
<%= form_for :change, :url=>change_warehouse_type_warehouse_path(@warehouse.warehouse_types_id, @warehouse.id), :html=>{:id=>'warehouse_change_form'} do |f| %>
  <% if @warehouse.warehouse_types_id == 1 %>
    <label for="ingredient" class="small">Materia Prima:</label>
    <div class="field"><%= f.collection_select :ingredient_id, Ingredient.all, :id, :to_collection_select, {}, :class=>'chosen-select chzn-field-normal' %> <span>*</span></div>
  <% end %>
  <% if @warehouse.warehouse_types_id == 2 %>
    <label for="product" class="small">Producto:</label>
    <div class="field"><%= f.collection_select :product_id, Product.all, :id, :to_collection_select, {}, :class=>'chosen-select chzn-field-normal' %> <span>*</span></div>
  <% end %>
  <label for="stock" class="small">Existencia inicial:</label>
  <div class="field"><%= f.text_field :stock, :size=>'10' %><span>*</span></div>
  <div class="clearfix"></div>
  <br/><span class="required">* Campos obligatorios</span>
<% end %>

